body{
    background-color: black;
}
p{
    color: ivory;
}
h1{
    color: darkred;
    text-align: center; 
    font-weight: normal;
    width: 500px;
    margin: auto;
    border: 4px darkred dotted;
}
h2{
    color: darkred;
    text-decoration: underline;
}
h3{
    color: blueviolet;
    border: 4px blueviolet double;
    text-align: center;
    width: 30%;
    margin: auto;
}
li{
    display: inline-block;
    background-color: darkred;
    color: black;
    width: 10%;
    text-align: center;
}
li:hover{
    background-color: rgb(255, 29, 29);
}
