body{
    background-color: rgb(0, 0, 0);
}
p{
    color: ivory;
    font-size: large;
    text-align: justify;
}
h1{
    color: #fd3939;
    text-align: center; 
    font-weight: normal;
    width: 800px;
    margin: auto;
    border: 4px #fd3939;
    font-size: 60px;
}
h2{
    color: #fd3939;
    text-decoration: underline;
    font-size: xx-large;
}
h3#chillasart{
    color: rgb(192, 127, 253);
    border: 4px rgb(192, 127, 253) double;
    text-align: center;
    width: 30%;
    margin: auto;
    font-size: 3em;
}
li{
    display: inline-block;
    background-color: rgb(203, 135, 248);
    color: black;
    width: 10%;
    text-align: center;
}
li:hover{
    background-color: #fd3939;
}
a{
    text-decoration: none;
    color: inherit;
}
h3{
    font-size: xx-large;
    color: rgb(169, 102, 233);
    text-align: center;
}
img.imagen{
    text-align: center;
}
p{
    text-align: center;
}