body{
    background-color: black;
}
p{
    color: ivory;
    font-size: large;
}
h1{
    color: rgb(155, 17, 17);
    text-align: center; 
    font-weight: normal;
    width: 800px;
    margin: auto;
    border: 4px rgb(155, 17, 17) dotted;
    font-size: 60px;
}
h2{
    color: rgb(155, 17, 17);
    text-decoration: underline;
    font-size: xx-large;
}
h3{
    color: rgb(169, 102, 233);
    border: 4px rgb(169, 102, 233) double;
    text-align: center;
    width: 30%;
    margin: auto;
    font-size: xx-large;
}
li{
    display: inline-block;
    background-color: rgb(155, 17, 17);
    color: black;
    width: 10%;
    text-align: center;
}
li:hover{
    background-color: rgb(255, 29, 29);
}
a{
    text-decoration: none;
    color: inherit;
}