body{
    background-color: black;
}
h1{
    color: rgb(240, 0, 0);
}
li{
    background-color: rgb(205, 144, 255);
    color: black;
    border-bottom: 1px solid rgb(240, 0, 0);
    padding: 10px;
    text-decoration: ;
}
a{
    color: inherit;
    text-decoration: none;
}
div{
    color: white;
}